@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';
@import 'https://fonts.googleapis.com/css?family=Pacifico';

*{
  font-family: 'Open Sans', sans-serif;
}
#title{
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 35px;
  padding-bottom: 20px;
}
h1{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
}
body{
  overflow-x: hidden;
}

/*nav start*/

ul{
  text-align: center;
}

ul li{
  display: inline;
  padding:20px;
  color: #AF564F;
}

ul li a{
  color: inherit;
  /*font-family:'Open Sans', sans-serif;*/
}
nav ul li a:hover{
  color: #E06E65;
}
/*nav end*/

/*section start*/

.back{
  height:800px;
  background-image: url("../img/Expose_pics/background-about.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding-top:45px;
}

.text{
  text-align: center;
}
.text h2{
  font-size: 33px;
  padding-bottom: 10px;
  font-family: 'Pacifico', cursive;
}
.inner-text{
  padding-top: 40px;
  font-size: 15px;
}

.title{
  text-align: center;
}

/*section end*/

/*start about section*/

.about-section .img-responsive{
  padding: 40px 0;
}
.becky{
  padding-bottom: 30px;
}
.about-section .col-md-8{
  padding-top: 48px;
}
.expose .col-md-8:first-of-type{
  padding:30px 0px;
}
.about-section{
  padding-top: 30px;
}
.expose .img-responsive{
  padding-top: 80px;
}
.about-section h2{
  font-family: 'Pacifico', cursive;
}

.about-section h3{
  font-family: 'Pacifico', cursive;
}
/*end about section*/

/*start services section*/

.col-md-4{
  margin-top: 30px;
  /*background-color: #4C2220;*/
  /*color: white;*/
}

.icon{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top:30px;
}

.center{
  padding-left: 118px;
  /*text-align: centesr;*/
}
.center h2{
  font-size: 33px;
  font-family: 'Pacifico', cursive;
  padding-bottom: 20px;
}
.center h4{
  margin: 20px 0;
  padding-left: 3px;
}
.center p{
  padding-left: 5px;
  font-size: 16px;
}

.services .col-md-4{
  padding: 20px;
}
/*end services section*/

/*start conctact section*/

.contact h2{
  text-align: center;
  font-family: 'Pacifico', cursive;
  padding-bottom: 45px;
}
.contact p{
  font-size: 120%;0
}
.contact i{
  color: black;
  font-size: 130%;
}
.contact ul{
  text-align: left;
  padding: 0;
  padding-top: 20px;
}
.contact ul li:first-child{
  padding-left: 0;
}
.contact ul li{
  padding-left: 80px;
}
.contact ul li a:hover i{
  color: grey;
}

/*end contact section*/

/*start testimonial section*/

.testimonial h2{
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.testimonial-text{
  margin-top: 30px;
}
/*end testimonial section*/


/*footer start*/

footer{
  margin-top: 50px;
  /*height: 205px;*/
  background-color: #4C2220;
  color:#AF564F;
}
footer .col-md-3{
  /*font-family: 'Open Sans', sans-serif;*/
  padding-top: 35px;
  /*color:#BBBCBF;*/
}

a:hover{
  color:white;
  text-decoration: none;
}

footer ul:first-of-type{
  padding-top: 35px;
}

footer ul:last-of-type{
  padding-top: 25px;
}
footer ul:last-of-type li{
  padding: 0 40px;
}
footer .fa{
  font-size: 20px;
}
.copy{
  text-align:center;
  padding:0;
  margin-top:50px;
  color: #8A443E;
  margin-bottom: 0;
  padding-bottom: 20px !important;
}


/*footer end*/
