@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300';
*{
  font-family: 'Open Sans', sans-serif;
}
h1{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 120px;
}
body{
  overflow-x: hidden;
}

/*nav start*/

ul{
  text-align: center;
}

ul li{
  display: inline;
  padding:20px;
  color: #AF564F;
}

ul li a{
  color: inherit;
  /*font-family:'Open Sans', sans-serif;*/
}
nav ul li a:hover{
  color: #E06E65;
}
/*nav end*/

/*section start*/

.back{
  height:800px;
  background-image: url("../img/Expose_pics/background-about.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding-top:45px;
}

.text{
  text-align: center;
}
.text h2{
  font-size: 33px;
  padding-bottom: 10px;
}
.inner-text{
  padding-top: 40px;
  font-size: 15px;
}


/*section end*/

/*start about section*/

.about-section .img-responsive{
  padding: 40px 0;
}
.about-section .col-md-8{
  padding-top: 48px;
}
.about-section .col-md-8:first-of-type{
  padding:0px;
}
/*end about section*/
/*footer start*/

footer{
  margin-top: 50px;
  height: 205px;
  background-color: #4C2220;
  color:#AF564F;
}
footer .col-md-3{
  /*font-family: 'Open Sans', sans-serif;*/
  padding-top: 35px;
  /*color:#BBBCBF;*/
}

a:hover{
  color:white;
  text-decoration: none;
}

footer ul:first-of-type{
  padding-top: 35px;
}

footer ul:last-of-type{
  padding-top: 25px;
}
footer ul:last-of-type li{
  padding: 0 40px;
}
footer .fa{
  font-size: 20px;
}
.copy{
  text-align:center;
  padding:0;
  margin-top:50px;
  color: #8A443E;
}

/*footer end*/
